<!doctype html>
<html class="terra-Application" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>terra-table</title>
  </head>
  <body>
      <h1>Terra Table</h1>
      <%= require('html!../tests/visual/terra/table/terra-table.html') %>

      <h1>Terra Table with Row Headings</h1>
      <%= require('html!../tests/visual/terra/table/terra-table-row-headings.html') %>

      <h1>Terra Small Table</h1>
      <%= require('html!../tests/visual/terra/table/terra-table-small.html') %>

      <h1>Terra Small Table with Row Headings</h1>
      <%= require('html!../tests/visual/terra/table/terra-table-small-row-headings.html') %>

      <h1>Terra Striped Table</h1>
      <%= require('html!../tests/visual/terra/table/terra-table-striped.html') %>

      <h1>Terra Striped Table with Row Headings</h1>
      <%= require('html!../tests/visual/terra/table/terra-table-striped-row-headings.html') %>

      <h1>Terra Grouped Row Table</h1>
      <%= require('html!../tests/visual/terra/table/terra-table-grouped-rows.html') %>

      <h1>Terra Striped Grouped Row Table</h1>
      <%= require('html!../tests/visual/terra/table/terra-table-striped-grouped-rows.html') %>
  </body>
</html>
